body{
  height:100%;
  margin: 0 auto;
  background-image: url("color.jpg");
  width:100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 40px;
}
#divbackground{
  background-color: white;
  margin: 0 auto;
  text-align: center;
  width:75%;
  padding: 20px;
}
#updateIncomeButton {
    width: 100%;
    height: 30px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 20px;
}
#addExpenseButton {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 20px;
}
#totalBudgetRoom {
    width: 100%;
    height: 30px;
    margin: 20px auto;
}
#categoryExpenseRoom {
    text-align: center;
}
.smallProgress {
    width: 100%;
}
/*.form {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: solid black 1px;
    padding: 10px 10px;
}*/
.form button {
    width: 100%;
    height: 20px;
    margin: 10px auto;
    background-color: #008CBA;
    color: white;
}
#incomeForm{
  position: fixed;
  z-index: 2;
  /*margin-top: -600px;*/
  top: 15%;
  right: 25%;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
}
#expenseForm{
  position: fixed;
  z-index: 2;
  /*margin-top: -600px;*/
  top: 15%;
  right: 25%;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
}



@media only screen and (min-width: 768px){
  #expenseForm{
    height: 250px;
    width: 33.333333333333333333333333333%;
    right: 33.333333333333333333333333333%;
  }
  #incomeInput {
    width: 100%;
  }
  #expenseAmount {
    width: 100%;
  }
  #dropdownInput{
    width: 100%;
  }
  #incomeForm{
    height: 120px;
    width: 33.333333333333333333333333333%;
    right: 33.333333333333333333333333333%;
  }
  #buttonDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .widerDiv {
    width: 40%;
    margin: 0 auto;
  }
  #addExpenseButton {
    margin-top: 0px;
  }

}

















